<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title></title>
    <%= stylesheet_link_tag 'stylesheet' %>
  </head>
  <body>
    <div id="container">
		<div><%= link_to_unless_current 'Contas', bills_path %> | <%= link_to_unless_current 'Categorias', categories_path %></div>
	
		<p style="color: green"><%= flash[:notice] %></p>
		<%= yield %>
    <%= render :partial => 'shared/footer' %>
    </div>
  </body>
</html>
